/* بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ */
* {
    font-family: 'Work Sans';
    color: #202529;
}
h1,h2{
    text-align: center;
}
h1 > img{
    width: 2vw;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.watch span {
    font-weight: bold;
}

.left-item,
.right-item {
    display: flex;
    flex-wrap: wrap;
}

.description {
    margin-top: 10vh;
}

.description th {
    text-align: left;
}

table {
margin-bottom: 2vh;
}

.order{
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.watch {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 10px;
  }

.watch img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
footer{
    background-color: #f8f9fb;
    padding: 20px;
    text-align: center;
    border-top: 1px solid grey;
}

footer a:visited{
    color: inherit;  
}

.h1-about, .h2-about{
    margin-left: 5%;
    text-align: left;
}
.p-about{
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 768px) {
    .left-item,
.right-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.description {
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
}